<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bookend</title>
    </head>
    <body>
        <header>
            <h1>Bookend</h1>
            <h2>The journey only begins once the book has ended</h2>
            <nav>
                <ul>
                    <li>Dashboard</li>
                    <li>Login</li>
                </ul>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            <p>Copyright 2022 Joey Bennett, Andrew Mason, and John Netzel. All rights reserved.</p>
            <p>Licensed under the terms of the MIT License.</p>
        </footer>
    </body>
</html>