<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bookend</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"> <!-- TODO build our own themed dialog CSS? -->
        <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="p-4 bg-secondaryColor">
            <nav>
                <div class="container flex justify-between h-16 mx-auto">
                    <div class="flex">
                        <a href="/" aria-label="Back to homepage" class="flex items-center ml-0">
                            <img id="navLogo" src="/assets/logo_with_name.png"/>
                        </a>
                        <div class="ml-2 items-center flex-shrink-0 flex">
                            <ul class="items-stretch space-x-3 flex">
                                <li><a href="/" ><button class="text-textDark rounded p-2 hover:text-orange-600">Homepage</button></a></li>
                                <li><a href="/dashboard"><button  class="text-textDark p-2 hover:text-orange-600">Dashboard</button></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-center flex-shrink-0 flex">
                        <ul class="items-stretch space-x-3 flex">
                            {{#if logged_in}}
                            <li><button id="logout-button" class="text-textDark p-2 hover:text-orange-600">Logout</button></li>
                            {{else}}
                            <li><button id="login-button" class="text-textDark p-2 hover:text-orange-600">Login</button></li>
                            <li><button id="signup-button" class="text-textDark p-2 hover:text-orange-600">Sign Up</button></li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <div id="login-dialog" title="Login">
            <p>Enter your login credentials:</p>
            <p>&nbsp;</p>
            <form id="login-form" class="flex flex-col">
                <div class="flex-initial">
                    <label for="login-email">Email</label>
                    <input id="login-email" class="w-100" name="login-email"></input>
                </div>
                <div class="flex-initial">
                    <label for="login-password">Password</label>
                    <input id="login-password" class="w-100" name="login-password" type="password"></input>
                </div>
                <button id="login-submit-button" type="submit">Log In</button>
            </form>
        </div>
        <div id="signup-dialog" title="Sign Up">
            <p>Enter your information:</p>
            <p>&nbsp;</p>
            <form id="signup-form" class="flex flex-col">
                <div class="flex-initial">
                    <label for="signup-username">Username</label>
                    <input id="signup-username" class="w-100" name="signup-email"></input>
                </div>
                <div class="flex-initial">
                    <label for="signup-email">Email</label>
                    <input id="signup-email" class="w-100" name="signup-email"></input>
                </div>
                <div class="flex-initial">
                    <label for="signup-password">Password</label>
                    <input id="signup-password" class="w-100" name="signup-password" type="password"></input>
                </div>
                <button id="signup-submit-button" type="submit">Sign Up</button>
            </form>
        </div>
        <footer class="items-center p-4 bg-secondaryColor">
            <div class="items-center grid-flow-col">
                <p class="text-textDark">Copyright 2022 Joey Bennett, Andrew Mason, and John Netzel. All rights reserved. 
                <br> 
                Licensed under the terms of the MIT License.</p>
            </div>
        </footer>
    </body>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/signup.js"></script>
</html>