<section class="container columns-2 flex justify-center p-4">
    <img class="m-4" src="https://via.placeholder.com/600x800" alt="The Book">
    <div class="h-50 flex flex-col m-4 my-auto">
        <h2>The Book</h2>
        <h3>By some author you've never heard of</h3>
        <h3>300 pages</h3>
        <p>Long description...</p>
    </div>
</section>