<section class="container columns-2 flex justify-center p-4">
    <img class="m-4" src="https://via.placeholder.com/600x800" alt="The Book">
    <div class="flex flex-auto flex-col justify-start justify-items-stretch mx-4 my-4">
        <h2>The Book</h2>
        <h3>By some author you've never heard of</h3>
        <h3>300 pages</h3>
        <p class="grow my-auto">Long description...</p>
    </div>
</section>