<section class="flex flex-col items-center mx-0 bg-coolGray-100 text-coolGray-800">
	<div class="container text-center mx-0 bg-cover relative w-full h-96" style="background-image: url(/assets/{{club.hero_img}});">
		<h1 class="text-4xl font-bold leading-none sm:text-5xl">{{club.name}}</h1>
	</div>
</section>
<section class="container mx-auto flex flex-col items-center m-4">
    <h2>Featured Book</h2>
    <img src="https://via.placeholder.com/240x320" alt="hero image">
    <h3>Placeholder Book</h3>
    <p>A moderately entertaining read</p>
</section>
<section class="container mx-auto flex flex-wrap justify-evenly">
    {{#each book as |book|}}
    <div class="w-1/4 border-2 rounded-lg p-4 m-4">
        <img src="https://via.placeholder.com/240x320" alt="Placeholder">
        <h2>{{book.title}}</h2>
    </div>
    {{/each}}
</section>
