<section class="bg-coolGray-100 text-coolGray-800">
	<div class="container mx-auto flex flex-col items-center px-4 py-16 text-center md:py-32 md:px-10 lg:px-32 xl:max-w-3xl" style="background-image: url(https://api.lorem.space/image/fashion?w=1000&h=800);">
		<h1 class="text-4xl font-bold leading-none sm:text-5xl">{{club.name}}</h1>
	</div>
</section>
<section class="container mx-auto flex flex-col items-center m-4">
    <h2>Featured Book</h2>
    <img src="https://via.placeholder.com/300x400" alt="Placeholder">
    <h3>Placeholder Book</h3>
    <p>A moderately entertaining read</p>
</section>
<section class="container mx-auto flex flex-wrap justify-evenly">
    <div class="w-1/4 border-2 rounded-lg p-4 m-4">
        <img src="https://via.placeholder.com/240x320" alt="Placeholder">
        <h2>Book 1</h2>
    </div>
    <div class="w-1/4 border-2 rounded-lg p-4 m-4">
        <img src="https://via.placeholder.com/240x320" alt="Placeholder">
        <h2>Book 2</h2>
    </div>
    <div class="w-1/4 border-2 rounded-lg p-4 m-4">
        <img src="https://via.placeholder.com/240x320" alt="Placeholder">
        <h2>Book 3</h2>
    </div>
    <div class="w-1/4 border-2 rounded-lg p-4 m-4">
        <img src="https://via.placeholder.com/240x320" alt="Placeholder">
        <h2>Book 4</h2>
    </div>
     <div class="w-1/4 border-2 rounded-lg p-4 m-4">
        <img src="https://via.placeholder.com/240x320" alt="Placeholder">
        <h2>Book 5</h2>
    </div>
     <div class="w-1/4 border-2 rounded-lg p-4 m-4">
        <img src="https://via.placeholder.com/240x320" alt="Placeholder">
        <h2>Book 6</h2>
    </div>
     <div class="w-1/4 border-2 rounded-lg p-4 m-4">
        <img src="https://via.placeholder.com/240x320" alt="Placeholder">
        <h2>Book 7</h2>
    </div>
     <div class="w-1/4 border-2 rounded-lg p-4 m-4">
        <img src="https://via.placeholder.com/240x320" alt="Placeholder">
        <h2>Book 8</h2>
    </div>
     <div class="w-1/4 border-2 rounded-lg p-4 m-4">
        <img src="https://via.placeholder.com/240x320" alt="Placeholder">
        <h2>Book 9</h2>
    </div>
</section>