<div class="card bg-secondaryColor m-4">
    <h2 class="card-header text-textDark">Edit Post</h2>
    <form class="card-body" id="edit-review-form">
        <div>
            <label class="form-label text-textDark">Title:</label>
            <input type="text" class="form-input rounded bg-lightColor text-textDark" name="review-title" value="{{review.title}}">
        </div>
        <div>
            <label class="form-label text-textDark">Content:</label>
            <textarea name="review-body" class="form-textarea form-input w-full rounded-md focus:ring focus:ring-opacity-75 focus:ring-yellow-600 bg-lightColor text-textDark" data-number="8">{{{review.body}}}</textarea>
        </div>
        <div class="card-body">
            <button class="btn bg-primaryColor text-textLight" type="submit click">Edit</button>
            <button class="btn bg-primaryColor text-textLight" type="click" id="delete-btn">Delete</button>
        </div>
        <div>
            <input type="hidden" name="review-id" value="{{review.id}}">
        </div>
    </form>
    {{!-- <div class="card-body">
        
    </div> --}}
</div>
<script src="/js/edit.js"></script>