<section class="container mx-auto flex flex-col items-center m-4 justify-center">
    <h2 class="justify-center text-xl font-bold my-6">Welcome to Bookend</h2>
    <p class="justify-center text-center p-4 border-y-black border-y-4">Bookend is a place where readers find community. <br> Our public book clubs will help you find your next read, 
    see other reader's reviews, and engage in topical discussions with others. <br> Looking for a platform for host your own bookclub? Create a private book club from your dashboard, invite your friends, and start reading! </p>
</section>
<section class="container mx-auto flex flex-wrap justify-evenly">
    {{#each clubs as |club|}}
        <div class="w-1/4 flex flex-col justify-end border-2 rounded-lg p-4 m-4">
            <a href="/club/{{club.id}}">
                <img src="/assets/{{club.hero_img}}" alt="Club image">
                <h2>{{club.name}}</h2>
            </a>
        </div>
    {{/each}}
</section>