<section class="container mx-auto flex flex-col items-center m-4">
    <h2>Featured Book</h2>
    <img src="https://via.placeholder.com/300x400" alt="Placeholder">
    <h3>Placeholder Book</h3>
    <p>A moderately entertaining read</p>
</section>
<section class="container mx-auto flex flex-wrap justify-evenly">
    <div class="w-1/4 border-2 rounded-lg p-4 m-4">
        <img src="https://via.placeholder.com/240x320" alt="Placeholder">
        <h2>Club 1</h2>
    </div>
    <div class="w-1/4 border-2 rounded-lg p-4 m-4">
        <img src="https://via.placeholder.com/240x320" alt="Placeholder">
        <h2>Club 2</h2>
    </div>
    <div class="w-1/4 border-2 rounded-lg p-4 m-4">
        <img src="https://via.placeholder.com/240x320" alt="Placeholder">
        <h2>Club 3</h2>
    </div>
    <div class="w-1/4 border-2 rounded-lg p-4 m-4">
        <img src="https://via.placeholder.com/240x320" alt="Placeholder">
        <h2>Club 4</h2>
    </div>
</section>