<section class="flex flex-col items-center mx-0 bg-coolGray-100 text-coolGray-800">
	<div id="heroImg" class="container text-center mx-0 bg-cover bg-no-repeat bg-center relative w-full h-96" style="background-image: url(/assets/sci-fi.png)">
	</div>
</section>

<section class="my-6 p-6 bg-coolGray-100 text-coolGray-900">

	<form class="container flex flex-col mx-auto space-y-12 ng-untouched ng-pristine ng-valid">
		<fieldset class="grid grid-cols-4 gap-6 p-6 rounded-md shadow-sm bg-coolGray-50">
			<div class="space-y-2 col-span-full lg:col-span-1">
				<p class="font-medium">Create a Book Club</p>
				<p class="text-xs">The possibilities are endless. Create a new club, invite your friends and get reading!</p>
			</div>
			<div class="grid grid-cols-6 gap-4 col-span-full lg:col-span-3">
				<div class="col-span-full sm:col-span-3">
					<h3>Club Name</h3>
					<input id="clubname" class="p-2 border rounded" type="text" placeholder="Bookworms">
				</div>
				<div class="col-span-full sm:col-span-3">
					<h3>Club Cover Photo</h3>
                    <select id="coverSelect" class="border rounded p-2">
                        <option data-image="sci-fi.png">Scifi</option>
                        <option data-image="classic-lit.png">Aged Books</option>
                        <option data-image="mystery.png">Mystery</option>
                        <option data-image="graphic-novel.png">Graphic Novel</option>
                        <option data-image="non-fiction.png">Pyramids</option>
                        <option data-image="thriller.png">Spooky Forest</option>
                        <option data-image="comedy.png">Confetti</option>
                        <option data-image="action-adventure.png">City Lights</option>
                        <option data-image="biographies.png">Aged Photograph</option>
                    </select>
                <button id="createClubBtn" type="button" class="px-4 py-2 border rounded-md border-coolGray-800">Create Club</button>
			</div>
		</fieldset>
	</form>

</section>
<script src="/js/newclub.js"></script>